{
    "extends": "react-app",
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "overrides": [
        {
            "files": ["MenuItem.js", "SubMenu.js"]
        }
    ]
}
