.OlContainer {
    list-style-type: none;
    font-size: 14px;
}

.reactTabs {
    /* height: 100%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.reactTabsTabPanelSelected {
    flex: 1;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
}

.reactTabsTab {
    padding: 3px 12px;
}

.Container {
    padding: 0px 20px;
    flex: 1;
    overflow: auto;
}
