.Button,
.ButtonDisabled {
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    display: block;
    height: initial;
    padding: 2px 5px 2px 4px;
}

.Inline {
    display: inline-block;
    vertical-align: bottom;
}

.Button:hover {
    background: #d5d5d5;
}

.Table {
    border-collapse: collapse;
}

.Cell {
    padding: 0px;
}

.Svg {
    margin-right: auto;
    display: block;
}

.Tooltip:before,
.Tooltip:after {
    content: none;
}

.Tooltip {
    margin: 0px !important;
    max-width: 300px;
    text-align: left !important;
    background: #eee !important;
    color: #333 !important;
    border: 1px solid #ccc !important;
}

.Tooltip > * {
    text-align: left !important;
}
