.Button {
    background: #eee;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 50px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.Button svg {
    margin: 10px;
}

.Button:hover,
.Active {
    background: #fff;
}

.Table {
    border-collapse: collapse;
}
