.InspectorDiv {
    display: inline-block;
    position: relative;
}

.Input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.InputHidden {
    border: none;
    background: transparent;
    outline: none;
}

.Input,
.Span {
    padding: 0px 4px;
    font-size: 13px;
    font-family: Arial;
}

.Span {
    opacity: 0;
    display: inline-block;
}

.ItemHighlighted {
    background: lightskyblue;
}

.DropDown {
    z-index: 1000;
    position: fixed;
    background: white;
    border: 1px solid #ccc;
}
