.InspectorDiv {
    display: inline-block;
    position: relative;
}

.Input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.InputHidden {
    border: none;
    background: transparent;
    outline: none;
}

.Input,
.Span {
    padding: 0px 4px;
    font-size: 13px;
    font-family: Arial;
}

.Span {
    opacity: 0;
    display: inline-block;
    white-space: pre;
    padding-right: 7px;
}

.reactautosuggestinput {
}

.reactautosuggestinputfocused {
    outline: none;
}

.reactautosuggestinputopen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reactautosuggestsuggestionscontainer {
    display: none;
}

.reactautosuggestsuggestionscontaineropen {
    display: block;
    position: absolute;
    border: 1px solid #aaa;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2000;
    max-height: 100px;
    overflow: auto;
}

.reactautosuggestsuggestionslist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reactautosuggestsuggestion {
    cursor: pointer;
    padding: 2px 10px;
    font-size: 13px;
}

.reactautosuggestsuggestionhighlighted {
    background-color: #ddd;
}

.container {
    display: flex;
}
