.OlContainer {
    list-style-type: none;
    font-size: 14px;
}

.reactTabs {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.reactTabsTabPanelSelected {
    flex: 1;
    overflow: auto;
}

.reactTabsTab {
    padding: 3px 12px;
}
