.Container {
    width: 100%;
    max-width: 1000px;
    padding: 200px 50px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

.socialButtons > a {
    display: inline-block;
    margin: 20px 50px;
    text-decoration: none;
    color: black;
}
.socialButtons > a > div {
    padding: 20px 0px;
}
