.Content {
    width: 100%;
    padding-top: 0px;
    overflow: hidden;
    position: relative;
    flex: 1 0;
}

.Overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
