.ant-btn:not(.ant-btn-primary),
.ant-btn:not(.ant-btn-primary):hover,
.ant-btn:not(.ant-btn-primary):focus {
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
}

.ant-select-single.ant-select-sm:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: transparent;
    box-shadow: none;
}

.ant-divider {
    background: #ccc;
    margin: 0px 5px;
}

.ant-btn-default {
    min-width: 32px;
    height: 32px;
    padding: 2.4px 0;
    font-size: 14px;
    border-radius: 2px;
}

.ant-dropdown-button.ant-btn-group > .ant-btn:last-child:not(:first-child) {
    padding-left: 0px;
}

.ant-tabs-nav-wrap {
    background: #eee;
    padding-left: 10px;
}
.ant-tabs > .ant-tabs-nav {
    margin: 0;
}
.ant-tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.ant-tabs-content-holder {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.ant-tabs-tabpane {
    display: flex;
    flex-direction: column;
}

.ant-tabs-nav {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
    padding: 5px 20px;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
    background: #eee;
}

.ant-tabs-nav .ant-tabs-tab-active {
    /* font-weight: 700; */
    color: rgba(0, 0, 0, 0.65);
}

.ant-tabs-nav .ant-tabs-tab {
    margin: 0px;
}

.ant-tabs-no-animation > .ant-tabs-content > .ant-tabs-tabpane-inactive {
    width: 0px;
}

* {
    transition: none !important;
    animation-duration: 0s !important;
}

.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
    color: rgba(0, 0, 0, 0.85) !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: rgba(0, 0, 0, 0.85);
    background: #ccc;
}

.ant-tabs-nav {
    display: inline-block;
    background: #eee;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
    z-index: 200;
    flex: none;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    background: transparent;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
    background: #fff;
}
